<launch>
    <node pkg="test1" type="run_argos.sh" name="run_argos" output="screen" />
    <node name="drone1" pkg="test1" type="listener" output="screen">
        <remap from="sensorTopic" to="drone1/sensorTopic" />
    </node>
    <node name="drone2" pkg="test1" type="listener" output="screen">
        <remap from="sensorTopic" to="drone2/sensorTopic" />
    </node>
    <node name="monitor" pkg="rqt_graph" type="rqt_graph" />
</launch>